@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Colores primarios*/
    --dark--blue: #2d314d;
    --lime-green: #31d35c;
    --bright-cyan: #2bb7da;


    --grayish-blue: #9698a6;
    --light--grayish--blue: #f3f4f6;
    --very--light--gray: #fafafa;
    --white: #ffffff;
    --padding: 100px;
}

body{
    width: 100%;
    font-family: 'Public Sans', sans-serif;
}

.container{
    width: 90%;
    padding: var(--padding) 0;
    max-width: 1400px;
    margin: 0 auto;
}

.cta{
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--white);
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(to right,var(--lime-green),var(--bright-cyan));
    border-radius: 40px;
}
.tittle {
    color: var(--dark--blue);
    font-weight: 400;
    font-size: 3rem;
}

/*Estilos del menu*/
.nav{
    --padding:0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__options{
    display: flex;
    list-style: none;    
    gap: 20px;
    font-size: 0.9rem;
}

.nav__item{
    color: var(--grayish-blue);
    font-weight: 400;
    text-decoration: none;
    padding: 5px 10px;
}


/* -----------------------ESTILOS DEL HERO--------------------- */
.hero{
    width:95%;
    height: calc(100vh - 60px);
    max-width: 1400px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__text {
    width: 30%;
    display: flex; 
    flex-direction: column;
    gap: 15px;
}



.hero__paragraph {
    color: var(--grayish-blue);
    line-height: 1.5;
}
.cta {
    width: max-content;
} 

.hero__background {
    position: relative;
    width: 60%;
    height: 100%;
    background-image: url("../img/bg-intro-desktop.svg");
    background-position: left center;
    overflow: visible;
}

.hero__background::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 120%;
    background-image: url("../img/image-mockups.png");    
    background-repeat: no-repeat;
    background-position: 130px bottom;
}



/* ----------------ESTILOS SECCION SERVICIOS ------------------- */
.service {
    background-color: var(--light--grayish--blue);
}

.service__tittle {
    font-size: 2rem;
}

.service__paragraph {
    margin-top: 20px;
    color: var(--grayish-blue);
    width: 50%;
}

.service__cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-auto-rows: 300px;
    justify-items: space-evenly;
    align-items: start;
    gap: 20px;
}

.service__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card__tittle {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--dark--blue);
}
.card__paragraph {
    margin-top: auto;
    line-height: 1.5;
    color: var(--grayish-blue);
}


/* --------------------ESTILOS DE LOS ARTICULOS-------------------------- */


.articles__tittle {
    font-size: 2rem;
}
.articles__content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-auto-rows: 300px;
    justify-items: space-evenly;
    align-items: start;
    gap: 20px;
}
.article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.article__figure {
    width: 100%;
    height: 200px;
}
.article__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.article__text {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article__author {
    color: var(--grayish-blue);
    font-style: normal;
    font-size: .7rem;
}
.article__tittle {
    font-style: 1.3rem;
    font-weight: 400;
}
.article__paragraph {
    font-size: .9rem;
    color: var(--grayish-blue);
}
